/* Top level Sheet Format Rules */
body {
  padding: 0px;
  margin: 0px;
  font: 0.24in "Lucida Console", Monaco, monospace;
  text-transform: uppercase; }

div, span, li, ol {
  box-sizing: border-box; }

.docframe {
  padding: 0.25in;
  position: relative;
  margin: 0px;
  page-break-after: always; }
  .docframe ol {
    margin: 0px;
    padding: 0px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    background-repeat: no-repeat;
    z-index: -20; }
    .docframe ol > li {
      text-align: center; }
  .docframe .horiz {
    height: 0.25in;
    width: 100%;
    position: absolute;
    left: 0px; }
    .docframe .horiz > li {
      counter-increment: h-frame -1;
      border-left: 1px solid;
      display: table-cell;
      vertical-align: middle; }
      .docframe .horiz > li::before {
        content: counter(h-frame,decimal) " "; }
      .docframe .horiz > li:first-child {
        border-left: 0px solid; }
    .docframe .horiz.top {
      background-image: url(images/microfilm_arrow_t.svg);
      background-position: center bottom; }
    .docframe .horiz.bottom {
      background-image: url(images/microfilm_arrow_b.svg);
      background-position: center top; }
  .docframe .vert {
    width: 0.25in;
    height: 100%;
    position: absolute;
    top: 0px; }
    .docframe .vert > li {
      width: 100%;
      display: table-row;
      counter-increment: v-frame -1;
      border-top: 1px solid; }
      .docframe .vert > li::before {
        vertical-align: middle;
        display: table-cell;
        content: counter(v-frame,upper-alpha) " "; }
      .docframe .vert > li:first-child {
        border-top: 0px solid; }
    .docframe .vert.left {
      background-image: url(images/microfilm_arrow_l.svg);
      background-position: right center; }
    .docframe .vert.right {
      background-image: url(images/microfilm_arrow_r.svg);
      background-position: left center; }
  .docframe .content {
    position: relative;
    border-style: solid;
    border-width: 2px;
    height: 100%;
    width: 100%; }

/* content area table classes */
.border {
  border: 1px solid; }

.border-thick {
  border: 2px solid; }

/* TODO: should left/right be floated instead? */
.top {
  top: 0px;
  border-top-width: 0px; }

.bottom {
  bottom: 0px;
  border-bottom-width: 0px; }

.left {
  left: 0px;
  border-left-width: 0px; }

.right {
  right: 0px;
  border-right-width: 0px; }

/* Labelled Div Classes */
div::before {
  display: none; }

/* always hide div befores unless a header or labelled div */
div.label {
  position: relative; }
  div.label::before {
    display: block;
    font-size: 0.1in;
    line-height: 0.12in;
    position: absolute;
    top: 0px;
    left: 0px; }

div.header::before, .block::before {
  display: block;
  text-align: center;
  font-size: 0.175in;
  width: 100%;
  line-height: .25in; }

.block {
  position: absolute; }
  .block div {
    position: relative; }
  .block::before {
    border-bottom: 1px solid; }

.title::before {
  content: "TITLE"; }

.cage_code::before {
  content: "CAGE CODE"; }

.dwg_no::before {
  content: "DWG NO"; }

.scale::before {
  content: "SCALE"; }

.sheet_no::before {
  content: "SHEET"; }

.rev::before {
  content: "REV"; }

.revblock::before {
  content: "REVISION HISTORY"; }

.thirdangle::before {
  content: "THIRD ANGLE PROJECTION"; }

.description::before {
  content: "DESCRIPTION"; }

.date::before {
  content: "DATE"; }

.approved::before {
  content: "APPROVED"; }

.drawn_by::before {
  content: "DRAWN BY"; }

.design_by::before {
  content: "DESIGN BY"; }

.checked_by::before {
  content: "CHECKED BY"; }

/* Table formatting base classes */
.row {
  display: block;
  border-bottom: 1px solid;
  position: relative; }
  .row > div {
    float: left;
    height: 100%;
    border-right: 1px solid; }
    .row > div:last-child {
      border-right: 0px solid; }
  .row:last-child {
    border-bottom: 0px solid; }

.col {
  float: right;
  height: 100%;
  border-left: 1px solid;
  position: relative; }
  .col:last-child {
    border-left: 0px solid; }

.titleblock .approvers {
  vertical-align: top; }
  .titleblock .approvers .row {
    height: 0.325in;
    display: block;
    position: relative; }
    .titleblock .approvers .row:last-child {
      border-bottom: 1px solid; }
.titleblock .company {
  padding: 0.05in; }
  .titleblock .company img {
    float: left;
    max-height: 100%;
    width: auto;
    margin-right: .125in; }
.titleblock .sheet_size::before {
  content: "SIZE"; }
.titleblock .sheet_size::after {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%; }
.titleblock .sheetinfo .sheet_no {
  float: right;
  border-left: 1px solid; }

.revblock {
  /* TODO: move to Sheet specific sizes */
  /* AS REQUIRED */ }
  .revblock .row {
    height: .4in; }
    .revblock .row:first-child {
      height: .25in; }
  .revblock .rev {
    width: 0.40in; }
  .revblock .description {
    width: 3in; }
  .revblock .date, .revblock .approved {
    width: 1.20in; }

.thirdangle {
  text-align: center;
  width: 3in; }
  .thirdangle img {
    vertical-align: middle;
    height: 0.7in; }

/* Sheet size-specific docframe options */
body.size_a_h .horiz > li:first-child, body.size_a_v .horiz > li:first-child {
  counter-reset: h-frame 3; }
body.size_a_h .horiz > li:nth-child(n+3), body.size_a_v .horiz > li:nth-child(n+3) {
  display: none; }
body.size_a_h .vert > li:first-child, body.size_a_v .vert > li:first-child {
  counter-reset: v-frame 3; }
body.size_a_h .vert > li:nth-child(n+3), body.size_a_v .vert > li:nth-child(n+3) {
  display: none; }
body.size_a_h .sheet_size::after, body.size_a_v .sheet_size::after {
  content: "A"; }
body.size_a_h .thirdangle, body.size_a_v .thirdangle {
  display: none; }

body.size_a_h .docframe {
  height: 8in;
  width: 10.5in; }

body.size_a_v .docframe {
  height: 10.5in;
  width: 8in; }

body.size_b .docframe {
  height: 10.5in;
  width: 16.5in; }
  body.size_b .docframe .horiz > li:first-child {
    counter-reset: h-frame 5; }
  body.size_b .docframe .horiz > li:nth-child(n+5) {
    display: none; }
  body.size_b .docframe .vert > li:first-child {
    counter-reset: v-frame 3; }
  body.size_b .docframe .vert > li:nth-child(n+3) {
    display: none; }
body.size_b .sheet_size::after {
  content: "B"; }

body.size_c .docframe {
  height: 16.5in;
  width: 21.5in; }
  body.size_c .docframe .horiz > li:first-child {
    counter-reset: h-frame 5; }
  body.size_c .docframe .horiz > li:nth-child(n+5) {
    display: none; }
  body.size_c .docframe .vert > li:first-child {
    counter-reset: v-frame 5; }
  body.size_c .docframe .vert > li:nth-child(n+5) {
    display: none; }
body.size_c .sheet_size::after {
  content: "C"; }

body.size_d .docframe {
  height: 21.5in;
  width: 33.5in; }
  body.size_d .docframe .horiz > li:first-child {
    counter-reset: h-frame 9; }
  body.size_d .docframe .horiz > li:nth-child(n+9) {
    display: none; }
  body.size_d .docframe .vert > li:first-child {
    counter-reset: v-frame 5; }
  body.size_d .docframe .vert > li:nth-child(n+5) {
    display: none; }
body.size_d .sheet_size::after {
  content: "D"; }

body.size_e .docframe {
  height: 33.5in;
  width: 43.5in; }
  body.size_e .docframe .horiz > li:first-child {
    counter-reset: h-frame 9; }
  body.size_e .docframe .horiz > li:nth-child(n+9) {
    display: none; }
  body.size_e .docframe .vert > li:first-child {
    counter-reset: v-frame 9; }
  body.size_e .docframe .vert > li:nth-child(n+9) {
    display: none; }
body.size_e .sheet_size::after {
  content: "E"; }

body.size_f .docframe {
  height: 27.5in;
  width: 39.5in; }
  body.size_f .docframe .horiz > li:first-child {
    counter-reset: h-frame 9; }
  body.size_f .docframe .horiz > li:nth-child(n+9) {
    display: none; }
  body.size_f .docframe .vert > li:first-child {
    counter-reset: v-frame 7; }
  body.size_f .docframe .vert > li:nth-child(n+7) {
    display: none; }
body.size_f .sheet_size::after {
  content: "F"; }

/*Size A, B, C Dimensions */
body.size_a_h .docframe .horiz, body.size_a_v .docframe .horiz, body.size_b .docframe .horiz, body.size_c .docframe .horiz {
  background-size: 0.15in auto; }
body.size_a_h .docframe .vert, body.size_a_v .docframe .vert, body.size_b .docframe .vert, body.size_c .docframe .vert {
  background-size: auto 0.15in; }
body.size_a_h .titleblock .main, body.size_a_v .titleblock .main, body.size_b .titleblock .main, body.size_c .titleblock .main {
  width: 4.25in; }
body.size_a_h .titleblock .approvers, body.size_a_v .titleblock .approvers, body.size_b .titleblock .approvers, body.size_c .titleblock .approvers {
  width: 2in; }
body.size_a_h .titleblock .company, body.size_a_v .titleblock .company, body.size_b .titleblock .company, body.size_c .titleblock .company {
  height: 0.625in;
  font-size: .125in; }
body.size_a_h .titleblock .title, body.size_a_v .titleblock .title, body.size_b .titleblock .title, body.size_c .titleblock .title {
  height: 0.75in; }
body.size_a_h .titleblock .docinfo, body.size_a_v .titleblock .docinfo, body.size_b .titleblock .docinfo, body.size_c .titleblock .docinfo {
  height: 0.375in; }
  body.size_a_h .titleblock .docinfo .sheet_size, body.size_a_v .titleblock .docinfo .sheet_size, body.size_b .titleblock .docinfo .sheet_size, body.size_c .titleblock .docinfo .sheet_size {
    width: 0.375in; }
  body.size_a_h .titleblock .docinfo .cage_code, body.size_a_v .titleblock .docinfo .cage_code, body.size_b .titleblock .docinfo .cage_code, body.size_c .titleblock .docinfo .cage_code {
    width: 1.125in; }
  body.size_a_h .titleblock .docinfo .dwg_no, body.size_a_v .titleblock .docinfo .dwg_no, body.size_b .titleblock .docinfo .dwg_no, body.size_c .titleblock .docinfo .dwg_no {
    width: 2.375in; }
body.size_a_h .titleblock .sheetinfo, body.size_a_v .titleblock .sheetinfo, body.size_b .titleblock .sheetinfo, body.size_c .titleblock .sheetinfo {
  height: 0.25in; }
  body.size_a_h .titleblock .sheetinfo .scale, body.size_a_v .titleblock .sheetinfo .scale, body.size_b .titleblock .sheetinfo .scale, body.size_c .titleblock .sheetinfo .scale {
    width: 1in; }
  body.size_a_h .titleblock .sheetinfo .sheet_no, body.size_a_v .titleblock .sheetinfo .sheet_no, body.size_b .titleblock .sheetinfo .sheet_no, body.size_c .titleblock .sheetinfo .sheet_no {
    width: 1.75in; }
body.size_a_h .thirdangle, body.size_a_v .thirdangle, body.size_b .thirdangle, body.size_c .thirdangle {
  right: 6.25in;
  line-height: 0.75in; }

/*Size D, E, F Titleblock Dimensions */
body.size_d .docframe .horiz, body.size_e .docframe .horiz, body.size_f .docframe .horiz {
  background-size: 0.20in auto; }
body.size_d .docframe .vert, body.size_e .docframe .vert, body.size_f .docframe .vert {
  background-size: auto 0.20in; }
body.size_d .titleblock .main, body.size_e .titleblock .main, body.size_f .titleblock .main {
  width: 5.125in; }
body.size_d .titleblock .approvers, body.size_e .titleblock .approvers, body.size_f .titleblock .approvers {
  width: 2.5in; }
body.size_d .titleblock .company, body.size_e .titleblock .company, body.size_f .titleblock .company {
  height: 0.625in;
  font-size: .125in; }
body.size_d .titleblock .title, body.size_e .titleblock .title, body.size_f .titleblock .title {
  height: 1.125in; }
body.size_d .titleblock .docinfo, body.size_e .titleblock .docinfo, body.size_f .titleblock .docinfo {
  height: 0.5in; }
  body.size_d .titleblock .docinfo .sheet_size, body.size_e .titleblock .docinfo .sheet_size, body.size_f .titleblock .docinfo .sheet_size {
    width: 0.375in; }
    body.size_d .titleblock .docinfo .sheet_size::after, body.size_e .titleblock .docinfo .sheet_size::after, body.size_f .titleblock .docinfo .sheet_size::after {
      line-height: .4in; }
  body.size_d .titleblock .docinfo .cage_code, body.size_e .titleblock .docinfo .cage_code, body.size_f .titleblock .docinfo .cage_code {
    width: 1.25in; }
  body.size_d .titleblock .docinfo .dwg_no, body.size_e .titleblock .docinfo .dwg_no, body.size_f .titleblock .docinfo .dwg_no {
    width: 3in; }
body.size_d .titleblock .sheetinfo, body.size_e .titleblock .sheetinfo, body.size_f .titleblock .sheetinfo {
  height: 0.25in; }
  body.size_d .titleblock .sheetinfo .scale, body.size_e .titleblock .sheetinfo .scale, body.size_f .titleblock .sheetinfo .scale {
    width: 1.375in; }
  body.size_d .titleblock .sheetinfo .sheet_no, body.size_e .titleblock .sheetinfo .sheet_no, body.size_f .titleblock .sheetinfo .sheet_no {
    width: 1.75in; }
body.size_d .thirdangle, body.size_e .thirdangle, body.size_f .thirdangle {
  right: 7.625in;
  line-height: 1.25in; }

/*Continuation sheet hidden elements*/
body.continuation .approvers, body.continuation .company, body.continuation .title, body.continuation .rev, body.continuation .revblock, body.continuation .thirdangle {
  display: none; }
body.continuation .titleblock .col, body.continuation .titleblock .dwg_no {
  border: 0px solid; }

/* Options form CSS and noprint */
#options {
  float: left;
  margin: 20px;
  padding: 20px;
  color: red;
  border: 3px solid red;
  text-transform: none;
  font-size: .125in; }

@media print {
  @page {
    margin: 0.25in; }
  #options, #options * {
    display: none !important; } }

/*# sourceMappingURL=DocFrames.css.map */
